/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #e0e0e0;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5c4033; /* Warm wood tone */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.navbar a.logo {
    font-weight: bold;
    font-size: 24px;
}

.nav-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.navbar a:hover::after, .navbar a:focus::after {
    width: 100%;
}

.navbar a:hover, .navbar a:focus {
    color: #01050a; /* Change to dark color on hover */
}

/* Main Content */
.welcome, #about, #gallery, #contact {
    padding: 50px;
    text-align: center;
    background-color: #eee;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease-in-out; /* Added transition for transform */
}

/* Add scale effect on hover for main content sections */
.welcome:hover, 
#about:hover, 
#gallery:hover, 
#contact:hover {
    transform: scale(1.05); /* Zoom in */
    z-index: 10; /* Ensure the section scales above other content */
}

/* Adjust font sizes */
.welcome h1, #about h2, #gallery h2, #contact h2 {
    font-size: 2.5em; /* Larger headers */
}

.welcome p, #about p, #gallery p, #contact p {
    font-size: 1.1em; /* Slightly larger paragraph text */
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #5c4033;
    color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #5c4033; /* Adjusted to match the navbar color */
        border-top: 2px solid #fff;
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000; /* Ensure this is high enough */
    }

    .nav-links a {
        margin: 10px 0;
    }

    .nav-links.active {
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
    }
}
